<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c302c0cd-be47-45d9-9a23-e6efa777970c/resourceGroups/MaerskLine-WE-TP033375/providers/Microsoft.Web/sites/MaerskLine-CMS-WE-TP033375</ResourceId>
    <ResourceGroup>MaerskLine-WE-TP033375</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://maerskline-cms-we-tp033375.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>maerskline-cms-we-tp033375.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MaerskLine-CMS-WE-TP033375</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MaerskLine-CMS-WE-TP033375</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=server-maerskline-sea-tp033375.database.windows.net;Initial Catalog=DB-MaerskLine-SEA-TP033375;User ID=vincent0813;Password=&quot;SPM 10As&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DDAC_TP033375.Models.ApplicationDbContext, DDAC-TP033375" MigrationConfiguration="DDAC_TP033375.Migrations.Configuration, DDAC-TP033375" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=server-maerskline-sea-tp033375.database.windows.net;Initial Catalog=DB-MaerskLine-SEA-TP033375;User ID=vincent0813;Password="SPM 10As"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>